.modal{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content{
    padding: 50px 70px 50px 70px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
    transition: 0.4s all;
}
.modal__content.active{
    transform: scale(1);
}