.upper__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 100px 20px 100px;
}
.upper__line__combo{
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}
.upper__line__img{
    width: 30px;
    height: 30px;
} 
.upper__line__title{
    font-size: 24px;
    font-weight: 500;
}
.upper__line__add__button{
    width: 50px;
    height: 50px;
    background-color: #3F5CE0;
    border: 1px solid #3F5CE0;
    border-radius: 8px;
    color: white;
    font-size: 28px;
    font-weight: 400;
}
.get__consult{

}
.get__consult__button{
    width: 240px;
    height: 50px;
    background-color: #D8DEF8;
    border: 1px solid #D8DEF8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.credits__archiv__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.credits__container{
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 100px;
    border-radius: 8px;
    width: 80%;
    padding-left: 0 !important;

}
.archiv__container{
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    flex-direction: column;
    margin: 0 100px 0 10px;
    border-radius: 8px;
    width: 20%;
    padding: 8px;
}
.container__title{
    font-size: 24px;
    font-weight: 500;
}
.credits__list {
    display: flex;
    flex-direction: column;
}

.credit__view__blok {
    display: flex;
    flex-direction: row;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 10px 50px 15px 0;
    font-size: 18px;
    justify-content: space-between;
    padding: 30px;
}
.credit__view__blok__creditNumberTitle{
 color: grey;
 font-size: 16px;
}
.credit__view__blok__baseBalance{
    font-size: 40px;
    font-weight: 700;
}
.credit__view__blok__nextPaymentTitle{
    font-size: 16px;
}
.credit__view__blok__nextPaymentSize{
    font-weight: 600;
    font-size: 16px;
}
.credit__view__blok__balance{
    margin-left: 60px;
    font-size: 18px;
}
.credit__view__blok__buttonCloseCredit{
    border: 1px solid #C84040;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    width: 170px;
    height: 50px;
}
.credit__view__blok__buttonPayCredit{
    border: 1px solid #C5CEF5;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background-color: #C5CEF5;
    width: 170px;
    height: 50px;
}

.modal__close__credit{
    display: flex;
    flex-direction: column;
}
.modal__close__credit__button__close{
 align-self: flex-end;
 border: none;
 background-color: white;
 font-size: 18px;
 font-weight: 700;
}
.modal__close__credit__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modal__close__credit__title{
    font-size: 24px;
    font-weight: 500;
    align-self:center;
    margin-bottom: 25px;
}
.modal__close__credit__text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}
.modal__close__credit__value{
    font-size: 24px;
    font-weight: 500;
}
.modal__close__credit__value__red{
    font-size: 24px;
    font-weight: 500;
    color: #C84040;
    margin-left: 100px;
}
.modal__close__credit__button{
    width: 170px;
    height: 50px;
    color: white;
    background-color:#1f38b6;
    border: 1px solid #1f38b6;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    align-self:center;
    margin-top: 25px;
}

select{
    width: 100%;
    height: 65px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 8px;
    font-size: 20px;
}





