.logo__two {
    width: 100px;
    height: 51px;
}

.headerLink {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}


.image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(3, 18, 62);
    height: 75px;
    align-items: center;
}

.header__links{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchBar {
    height: 50%;
    width: 570px;
    background-color:#192459;
    color: white;
}

.currencyRate {
    color: white;
    font-size: 18px;
}

.menu__profile {
    color: #0F0F0F;
    position: absolute;
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    right: 50px;
}

.menu__profile li {
    margin-top: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: start;
}

.go__out {
    color: #C84040;
}

.icon {
    margin-right: 10px;
}