.footer__main {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 95%;
    background-color: white;
    margin-left: 50px;
}

.footerLink {
    text-decoration: none;
    color: gray;
    margin-right: 30px;
    font-size: 14px;
}