.upper__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 100px 20px 100px;
}

.upper__line__combo_ {
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}

.upper__line__go__back__img {
    width: 40px;
    height: 25px;
}

.upper__line__title {
    font-size: 24px;
    font-weight: 500;
}

.get__consult__button {
    width: 240px;
    height: 50px;
    background-color: #D8DEF8;
    border: 1px solid #D8DEF8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.modal__credits__congrats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.modal__credits__img {
    height: 130px;
    width: 130px;
    margin: 0 0 30px 0;
}

.modal__credits__text {
    font-size: 32px;
    font-weight: 600;
}

.modal__credits__buttons {
    display: flex;
    justify-content: space-around;
}

.modal__credits__button__contract {
    width: 100px;
    height: 50px;
    background-color: #D8DEF8;
    border: 1px solid #D8DEF8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.modal__credits__button__to__main {
    width: 250px;
    height: 50px;
    color: white;
    background-color: #1f38b6;
    border: 1px solid #1f38b6;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.container__photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    width: 30%;
}

.input__photo {
    margin-top: 30px;
    margin-bottom: 50px;

    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;


}

.download__button {
    width: 350px;
    height: 50px;
    color: white;
    background-color: #1f38b6;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}