.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  
  .input {
    margin-top: 15px;
    padding: 0.5em;
  }
  
  .invalid {
    background-color: pink;
  }