.footer {
  background-color: #0C122C;
  height: 160px;
  bottom: 0;
  padding: 8px 35px 4px 35px;
  font-size: 16px;
  color: #FFFFFF;
}

.footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.footer__flex__body__first {
  width: 677px;
}

.footer__flex__body__second {
  width: 935px;
}

.footer__flex__title {
  font-size: 16px;
  border-bottom: 1px solid #FFFFFF;
}

.footer__flex__body__blok_value__imeg__blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 38px;
  margin-right: 320px;
}

.footer__flex__body__blok_value__imeg {
  display: flex;
  margin-bottom: 23px;
}

.footer__flex__body__blok_value__imeg img {
  margin-right: 18px;
}

.footer__flex__body__blok__blok {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 8px;
}

.footer__flex__body__blok_value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__flex__body__blok_value__blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
}

.footer__flex__body__blok_value__blok div {
  margin-bottom: 20px;

}

.footer__flex__body__blok__second_value__first {
  margin-right: 300px;

}

.footer__flex__body__blok__second_value__first div {
  margin-bottom: 20px;

}

.footer__flex__body__blok__second_value div {
  margin-bottom: 20px;
  margin-right: 100px;
}

.footer__link{
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}