
.upperLine {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.upperLine button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8DEF8;
    border-style: none;
    border-radius: 8px;
    width: 15%;
}

.upperLine button img {
    margin-right: 60px;
}

.upperLine button {
    height: 56px;
}

.secondLine {
    margin-top: 25px;
    display: flex;
}

.mainArea {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    margin-right: 0;
    border-radius: 8px;
    width: fit-content;

    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.card__unactive {
    width: 260px;
    height: 149px;
    background-color: #999999;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 15px;
    margin-bottom:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__unactive:hover {
    border:3px solid #999999;
    transition: 0.07s;
}
.card__active:hover {
    border:3px solid #999999;
    transition: 0.07s;
}
.card__active {
    width: 260px;
    height: 149px;
    background-color: #3249b3;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 15px;
    margin-bottom:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 280px;
    overflow-y: auto;
    padding: 15px 0 15px 15px;
    margin-right: 20px;
}

.cardInfo {
    display: flex;
    white-space: nowrap;
    height: 40%;
    margin-right: 0;
}

.selectedCard {
    background-color: #3249b3;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 320px;
    width: 680px;
}

.span {
    font-size: 24px;
    font-weight: 600;
    margin-left: 14px;
    margin-bottom: 8px;
}

.body {
    margin: 24px 100px 0 100px;
    text-align: left;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.addCard {
    font-size: 30px;
    width: 40px;
    height: 48px;
    color: #FFFFFF;
    border: 0px;
    border-radius: 6px;
    padding: 0 0px 0px 15px;
    background: #3F5CE0;
    text-decoration: none;
    margin-top: -8px;
    margin-right: 80px;
}

.card__view__blok__right {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #333333;
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 160px;
}

.card__view__blok {
    margin-top: 15px;
    padding: 15px;
}

.main__card__text {
    font-size: 18px;
}

.main__card__icon {
    margin-top: 40px;
    margin-bottom: 140px;
}

.main__number__card {
    font-size: 24px;
}

.card__icon {
    margin: 15px 0 40px 0;
}

.balance {
    font-size: 60px;
}

.history__display__flex {
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.history__display__flex__container {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 8px 0 8px 8px;
    font-size: 16px;
    height: 275px;
    width: 670px;
    margin-left: 10px;
    overflow: auto;
    padding-right: 10px;
}

.history__blok__value {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.history__type{
   font-size: 16px;
   font-weight: 500;
   width: fit-content;
}

.history__combo{
    display: flex;
    align-items: center;
    margin: 5px;
}

.history__blok {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.history__circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #FFBDB9;
}

.history__circle__income {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #66dd42;
}

.history__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
}

.history__title__icon {
    margin-left: 30px;
}

.history__price {
    width: fit-content;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.history__all {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    width: 35%;
    padding-right: 20px;
    position: relative;
    box-shadow: 0 0 3px #ccc;
    border-radius: 0 8px 0 0;
}

.history__all:after {
    content:'';
    width:20px;
    height: 62px;
    padding-right: 20px;

    border-right: 3px solid #f1ecec;
    position: absolute;
    top: -22px;
    left: -14px;
    transform: rotate(43deg);
    background-color: white;

    border-radius: 90% 0 0;
    
}

.history__all div {
    margin-left: 10px;
}

.mainArea__footer {
    margin-top: 60px;
}

.mainArea__blok__value {
    font-size: 16px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;

    border-radius: 8px;
    padding: 10px;
    height: 270px;
    width: 660px;
    overflow: auto;
    margin: 0 20px 0 0;
}

.mainArea__blok__value__title__name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.costs__icon {
    margin-right: 25px;
}

.income__icon {
    margin-right: 25px;
}

.mainArea__blok__value__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
    font-size: 24px;
    font-weight: 600;
    
}

.mainArea__blok {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.mainArea__footer__title {
    margin-bottom:15px;
    font-size: 24px;
    font-weight: 600;
}
b{
    font-size: 18px;
}