.upper__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 100px 20px 100px;
}
.upper__line__combo_{
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}
.upper__line__go__back__img{
    width: 40px;
    height: 25px;
   }
.upper__line__title{
    font-size: 24px;
    font-weight: 500;
}
.get__consult__button{
    width: 240px;
    height: 50px;
    background-color: #D8DEF8;
    border: 1px solid #D8DEF8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.form__addCard {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__addCard__select {
    width: 400px;
    margin: 15px 45px 0px 15px;
    padding: 10px;
    font-size: 20px;
}

.form__addCard__input {
    width: 400px;
    margin: 15px 45px 0px 15px;
    padding: 5px;
    font-size: 15px;
}

.form__addCard__button {
    width: 220px;
    height: 50px;
    color: white;
    background-color:#1f38b6;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.modal__credits__congrats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.modal__credits__img{
    height: 130px;
    width: 130px;
    margin: 0 0 30px 0;
}.modal__credits__text{
    font-size: 32px;
    font-weight: 600;
}
.modal__credits__buttons{
    display: flex;
    justify-content: space-around;
}
.modal__credits__button__contract{
    width: 100px;
    height: 50px;
    background-color: #D8DEF8;
    border: 1px solid #D8DEF8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.modal__credits__button__to__main{
    width: 250px;
    height: 50px;
    color: white;
    background-color:#1f38b6;
    border: 1px solid #1f38b6;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}